[
  {
    "active": "False",
    "type": "discord",
    "webhook_url": "YOUR_WEBHOOK_URL",
    "startup_message":"False",
    "pokemon":{
  		"username":"#<pkmn_id> <previous_id> <pkmn> <gender> <iv>% <cp>CP",
  		"icon_url" : "http://sprites/<pkmn_id>.png",
      "avatar_url": "http://sprites/<pkmn_id>.png",
  		"title":"[<neighborhood>] <address> (<postal>)",
  		"url":"<gmaps>",
      "body": "[<12h_time> (<time_left> Left)]\n[IV: **<iv>%** <atk>/<def>/<sta>] [CP: **<cp>**/Lv: **<level>**]\n[**<quick_move>**/**<charge_move>** Rating: **<rating_attack>**/**<rating_defense>**]\n[**<size_full>** <gender>/<height>m/<weight>kg]\n[Poke: <catch_prob_1>%/Great: <catch_prob_2>%/Ultra: <catch_prob_3>%]\n[<dist> [<dir>] Walking Distance: <walk_dist> (<walk_time>)]",
  		"color": "<iv_0>",
  		"map": {
  			"enabled":"true",
  			"width":"250",
  			"height":"125",
  			"maptype":"roadmap",
  			"zoom": "14"
  		}
  	},
    "pokestop":{
  		"username":"Pokestop [<deployer>]",
  		"icon_url" : "<url>",
      "avatar_url": "http://sprites/pokestop.png",
  		"title":"[<neighborhood>] <address> <postal>",
  		"url":"<gmaps>",
  		"body":"[<12h_time> (<time_left> Left)]\n[Lured By: **<deployer>**]\n[<name> (<description>)]\n[<dist> [<dir>] Walking Distance: <walk_dist> (<walk_time>)]",
  		"map": {
  			"enabled":"true",
  			"width":"250",
  			"height":"125",
  			"maptype":"roadmap",
  			"zoom": "14"
  		}
  	},
    "gym":{
  		"username":"<new_team> Gym [<slots_available> Slots]",
  		"icon_url" : "<gym_url>",
      "avatar_url": "http://sprites/gym_<new_team>.png",
  		"title":"[<neighborhood>] <address> (<postal>)",
  		"url":"<gmaps>",
  		"body": "<is_in_battle><teamStr>\n[<gym_name> (<gym_description>)]\n[Gym CP:<points>] [<slots_available> Slots Open]\n[Defender: <guard_pkmn_id>]\n<defenders>[<dist> [<dir>] Walking Distance: <walk_dist> (<walk_time>)]\n<park>",
  		"map": {
  			"enabled":"true",
  			"width":"250",
  			"height":"125",
  			"maptype":"roadmap",
  			"zoom": "14"
  		}
  	},
    "egg":{
  		"username":"Lv: <raid_level> RaidEgg [<team_name>] [<slots_available> Slots]",
  		"icon_url" : "<gym_url>",
      "avatar_url": "http://sprites/egg_<raid_level>.png",
  		"title":"[<neighborhood>] <address> (<postal>)",
  		"url":"<gmaps>",
  		"body": "[<begin_12h_time> (<begin_time_left>)]\n[Lv: <raid_level> Egg]\n[<team_name> Gym] [<slots_available> Slots Open]\n[<gym_name> (<gym_description>)]\n[<dist> [<dir>] Walking Distance: <walk_dist> (<walk_time>)]\n<park>",
  		"map": {
  			"enabled":"true",
  			"width":"250",
  			"height":"125",
  			"maptype":"roadmap",
  			"zoom": "14"
  		}
  	},
  	"raid":{
  		"username":"#<pkmn_id> <pkmn> RaidHatch <cp>CP",
  		"icon_url" : "<gym_url>",
      "avatar_url": "http://sprites/<pkmn_id>.png",
  		"title":"[<neighborhood>] <address> (<postal>)",
  		"url":"<gmaps>",
  		"body": "[<12h_time> (<time_left> left)]\n[Lv: <raid_level>] [CP: <cp>]\n[<quick_move>] [<charge_move>]\n[<team_name> Gym]\n[<gym_name> (<gym_description>)]\n[<dist> [<dir>] Walking Distance: <walk_dist> (<walk_time>)]\n<park>",
  		"map": {
  			"enabled":"true",
  			"width":"250",
  			"height":"125",
  			"maptype":"roadmap",
  			"zoom": "14"
  		}
  	},
    "weather":{
  		"username":"Weather <weather_dynname>",
  		"icon_url" : "http://<weather_icon>.png",
      "avatar_url": "http://<weather_icon>.png",
  		"title":"Center Of Weather S2Cell [<neighborhood>]",
  		"url":"<gmaps>",
  		"body": "Gameplay Weather: <weather_dynemoji> <weather_name>\nCloud Level: <cloud_level>\nRain Level: <rain_level>\nWind Level: <wind_level>\nSnow Level: <snow_level>\nFog Level: <fog_level>\nWind Direction: <wind_berring>\nSeverity: <severity_name>\nWarning: <warn_weather>\nWorld Time: <time_name>",
  		"color": "<weather_dynname>",
  		"map": {
  			"enabled":"true",
  			"width":"250",
  			"height":"125",
  			"maptype":"roadmap",
  			"zoom": "12"
  		}
  	}
	},
  },
  {
    "active": "False",
    "type": "facebook_page",
    "page_access_token": "YOUR_PAGE_ACCESS_TOKEN"
  },
  {
    "active": "False",
    "type": "pushbullet",
    "api_key": "YOUR_API_KEY"
  },
  {
    "active": "False",
    "channel":"general",
    "type": "slack",
    "api_key": "YOUR_API_KEY"
  },
  {
    "active": "False",
    "type": "telegram",
    "bot_token": "YOUR_BOT_TOKEN",
    "chat_id": "YOUR_CHAT_ID"
  },
  {
    "active": "False",
    "type": "twilio",
    "account_sid": "YOUR_API_KEY",
    "auth_token": "YOUR_AUTH_TOKEN",
    "from_number": "YOUR_FROM_NUM",
    "to_number": "YOUR_TO_NUM"
  },
  {
    "active": "False",
    "type": "twitter",
    "access_token": "YOUR_ACCESS_TOKEN",
    "access_secret": "YOUR_ACCESS_SECRET",
    "consumer_key": "YOUR_CONSUMER_KEY",
    "consumer_secret": "YOUR_CONSUMER_SECRET"
  }
]
